<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>browser acceleration demo - mitsuruog</title>

	<meta name="description" content="Demonstration of the acceleration sensor in browser using the slide.">
	<meta name="author" content="mitsuruog">

	<link href="/css/contoroller.css" rel="stylesheet">

</head>

<body>

<div id="main">

	<div class="button">
		<button id="top">↑</button>
	</div>
	<div class="button">
		<button id="left">←</button>
		<button id="init">C</button>
		<button id="right">→</button>
	</div>
	<div class="button">
		<button id="down">↓</button>
	</div>
	<div class="button">
		<button id="home">H</button>
	</div>
</div>


<script src="/assets/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/contoroller.js"></script>

</body>
</html>